<%- include("partials/header.ejs") %>

<body>
    <main class="main-content">
        <h1 class="home-heading">WordSphere</h1>

        <!-- Container to wrap the row of posts -->
        <div class="container text-center">
          <div class="row">
            <!-- Dynamically populate each post into a column -->
            <% posts.forEach(function(post, index){ %>
                <div class="col-md-4">
                    <div class="post card mb-4">
                        <div class="card-body">
                            <h2 class="card-title"><%= post.title %></h2>
                            <p class="card-text"><%= post.content %></p>
                            <a href="/view/<%= index %>" class="btn btn-outline-success">View</a>
                            <a href="/edit/<%= index %>" class="btn btn-outline-primary">Edit</a>
                            <form action="/delete/<%= index %>" method="POST" class="d-inline">
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            <% }) %>
          </div>
        </div>

        <a href="/compose" class="btn btn-primary btn-lg">New Post</a>

    </main>
</body>

<%- include("partials/footer.ejs") %>
